.cycles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.cycleDots {
  display: flex;
  gap: 8px;
}

.cycleDot {
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 50%;
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}
