.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer a {
  font-size: 12px;
  color: var(--text-muted);
  text-decoration: none;
}

.footer a:hover {
  color: var(--text-muted);
  text-decoration: underline;
}
