.button {
border: none;
background: var(--primary);
color: var(--text-over-primary);
display: flex;
justify-content: center;
align-items: center;
width: 240px;
padding: 8px;
border-radius: 8px;
margin: 48px 0;
cursor: pointer;
transition: all .1s ease-in-out;


}

.button svg {
    width: 32px;
    height: 32px;
}
.button:hover {
    filter: brightness(0.8);
}

.green {
    background: var(--primary);
    color: var(--text-over-primary);
}

.red {
    background: var(--error);
    color: var(--text-over-error)
}