.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-top: 24px;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-direction: column;
  font-size: 34px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.5s ease-in-out;
}

.logoLink:hover {
  filter: brightness(50%);
}

.logoLink svg {
  width: 64px;
  height: 64px;
}
