.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: all 0.5s ease-in-out;
  padding: 10px;
  border-radius: 8px;
}

.menuLink:hover {
  filter: brightness(50%);
}

.menuLink svg {
  width: 24px;
  height: 24px;
}
